<template name="Section1">

    <h2>I. Baseline eligibility: Were you convicted of a criminal offense?</h2>

<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">
            1.	Did you receive a prison sentence for your conviction
        </label>
        <div class="col-sm-10">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="q1-radios" id="q1-yes" value="true" checked>
                    Yes
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="q1-radios" id="q1-no" value="false">
                    No
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            2.	Were you convicted of a serious sex offense (Cal. Penal Code sections 586, 288, 288a, 288.5, 289, or 261.5) OR failing to obey a police officer (Vehicle Code section  42001)
        </label>
        <div class="col-sm-10">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="q2-radios" id="q2-yes" value="true" checked>
                    Yes
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="q2-radios" id="q2-no" value="false">
                    No
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            3.	Are you currently facing charges?
        </label>
        <div class="col-sm-10">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="q3-radios" id="q3-yes" value="true" checked>
                    Yes
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="q3-radios" id="q3-no" value="false">
                    No
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">
            4.	Are you currently on probation or parole?
        </label>
        <div class="col-sm-10">
            <div class="radio-inline">
                <label>
                    <input type="radio" name="q4-radios" id="q4-yes" value="true" checked>
                    Yes
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="q4-radios" id="q4-no" value="false">
                    No
                </label>
            </div>
        </div>
    </div>
</form>


</template>